{% extends 'barangayStaff/base.html' %}
{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<div class="d-flex" id="wrapper">
    
    {% include 'barangayStaff/sidebar.html' %} 
    
    <link rel="stylesheet" href="{% static '/css/style.css' %}" >
    
    <style>
        #page-content-wrapper{
            width: 80%;
        }
        #wrapper{
        overflow-x: hidden;
        background-color: gainsboro;
        }
    </style>    
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
            <div class="d-flex align-items-center">
                <i class="fas fa-align-left primary-text fs-5 me-3" id="menu-toggle"></i>
                <i class="fa fa-th-large fs-4 me-2"></i>
                <h2 class="fs-4 m-0 fw-bold">Dashboard</h2>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupported Content">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user me-2"></i>{{request.user}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="navbar_li"><a class="dropdown-item" href="#">Profile</a></li>
                            <li class="navbar_li"><a class="dropdown-item" href="#">Settings</a></li>
                            <li class="navbar_li"><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>  
        <div class="container-fluid px-3">
            <div class="row g-3">
                <div class="col-md-4">
                    <div class="p-2 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2"><input id="totalSingles" class="box_title" value="{{ total_singles }}" readonly/></h3>
                            <p class="fs-6 fw-bold">Singles</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-2 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2"><input id="totalMarried" class="box_title" value="{{ total_married }}" readonly/></h3>
                            <p class="fs-6 fw-bold">Married</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-2 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2"><input id="totalDivorced" class="box_title" value="{{ total_divorced }}" readonly/></h3>
                            <p class="fs-6 fw-bold">Divorced</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                        <div class="p-2 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div class="graphbox">
                                <canvas id="residentChart" width="300" height="120"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-2 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <p class="fs"><div class="residents_title">Number of Residents</div></p>
                            <div class="img"></div>
                            <h3 class="fs"><input class="box_title" id="tc" value="{{ total_residents }}" readonly/></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>                 
    </div>                  
</div>    
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
<script src="{% static 'js/chart.js' %}"></script>
{% endblock %}
