{% load static %}


<link rel="stylesheet" href="{% static '/css/styles.css' %}" >
<script defer src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
<script defer src="{% static '/js/scripts.js' %}"></script>

        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Barangay Staff</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'dashboard' %}">Dashboard</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'household' %}">Household</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'resident' %}">Resident</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Settings</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Logout</a>
                </div>
            </div>
            <!-- Page content wrapper-->

        </div>
